.textojogo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: red;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    opacity: 1;
}

.bg {
    opacity: 1
}

#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.tr {
    font-family: "Comic Sans MS", san-serif;
    font-size: 15px;
    margin-left: 35px;
    margin-top: 0;

}

img {
    margin: 10px;
}